<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ooteco.mapper.UserCoinMapper" >
  <resultMap id="BaseResultMap" type="com.ooteco.model.UserCoin" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <id column="coin" property="coin" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="total_quantity" property="totalQuantity" jdbcType="DECIMAL" />
    <result column="freeze_quantity" property="freezeQuantity" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, coin, create_time, modify_time, total_quantity, freeze_quantity
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ooteco.model.UserCoinExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vt_u_coin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ooteco.model.UserCoinKey" >
    select 
    <include refid="Base_Column_List" />
    from vt_u_coin
    where user_id = #{userId,jdbcType=INTEGER}
      and coin = #{coin,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ooteco.model.UserCoinKey" >
    delete from vt_u_coin
    where user_id = #{userId,jdbcType=INTEGER}
      and coin = #{coin,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ooteco.model.UserCoinExample" >
    delete from vt_u_coin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ooteco.model.UserCoin" >
    insert into vt_u_coin (user_id, coin, create_time, 
      modify_time, total_quantity, freeze_quantity
      )
    values (#{userId,jdbcType=INTEGER}, #{coin,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{totalQuantity,jdbcType=DECIMAL}, #{freezeQuantity,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ooteco.model.UserCoin" >
    insert into vt_u_coin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="coin != null" >
        coin,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="totalQuantity != null" >
        total_quantity,
      </if>
      <if test="freezeQuantity != null" >
        freeze_quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="coin != null" >
        #{coin,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalQuantity != null" >
        #{totalQuantity,jdbcType=DECIMAL},
      </if>
      <if test="freezeQuantity != null" >
        #{freezeQuantity,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ooteco.model.UserCoinExample" resultType="java.lang.Integer" >
    select count(*) from vt_u_coin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vt_u_coin
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.coin != null" >
        coin = #{record.coin,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.totalQuantity != null" >
        total_quantity = #{record.totalQuantity,jdbcType=DECIMAL},
      </if>
      <if test="record.freezeQuantity != null" >
        freeze_quantity = #{record.freezeQuantity,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vt_u_coin
    set user_id = #{record.userId,jdbcType=INTEGER},
      coin = #{record.coin,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      total_quantity = #{record.totalQuantity,jdbcType=DECIMAL},
      freeze_quantity = #{record.freezeQuantity,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ooteco.model.UserCoin" >
    update vt_u_coin
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalQuantity != null" >
        total_quantity = #{totalQuantity,jdbcType=DECIMAL},
      </if>
      <if test="freezeQuantity != null" >
        freeze_quantity = #{freezeQuantity,jdbcType=DECIMAL},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
      and coin = #{coin,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ooteco.model.UserCoin" >
    update vt_u_coin
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      total_quantity = #{totalQuantity,jdbcType=DECIMAL},
      freeze_quantity = #{freezeQuantity,jdbcType=DECIMAL}
    where user_id = #{userId,jdbcType=INTEGER}
      and coin = #{coin,jdbcType=VARCHAR}
  </update>
</mapper>