<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ooteco.mapper.UserKnockdownTradeMapper" >
  <resultMap id="BaseResultMap" type="com.ooteco.model.UserKnockdownTrade" >
    <id column="ask_trade_id" property="askTradeId" jdbcType="INTEGER" />
    <id column="bid_trade_id" property="bidTradeId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="quantity" property="quantity" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ask_trade_id, bid_trade_id, create_time, modify_time, user_id, price, market_price, 
    quantity
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ooteco.model.UserKnockdownTradeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vt_u_knockdown_trade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ooteco.model.UserKnockdownTradeKey" >
    select 
    <include refid="Base_Column_List" />
    from vt_u_knockdown_trade
    where ask_trade_id = #{askTradeId,jdbcType=INTEGER}
      and bid_trade_id = #{bidTradeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ooteco.model.UserKnockdownTradeKey" >
    delete from vt_u_knockdown_trade
    where ask_trade_id = #{askTradeId,jdbcType=INTEGER}
      and bid_trade_id = #{bidTradeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ooteco.model.UserKnockdownTradeExample" >
    delete from vt_u_knockdown_trade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ooteco.model.UserKnockdownTrade" >
    insert into vt_u_knockdown_trade (ask_trade_id, bid_trade_id, create_time, 
      modify_time, user_id, price, 
      market_price, quantity)
    values (#{askTradeId,jdbcType=INTEGER}, #{bidTradeId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{marketPrice,jdbcType=DECIMAL}, #{quantity,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ooteco.model.UserKnockdownTrade" >
    insert into vt_u_knockdown_trade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="askTradeId != null" >
        ask_trade_id,
      </if>
      <if test="bidTradeId != null" >
        bid_trade_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="askTradeId != null" >
        #{askTradeId,jdbcType=INTEGER},
      </if>
      <if test="bidTradeId != null" >
        #{bidTradeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ooteco.model.UserKnockdownTradeExample" resultType="java.lang.Integer" >
    select count(*) from vt_u_knockdown_trade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vt_u_knockdown_trade
    <set >
      <if test="record.askTradeId != null" >
        ask_trade_id = #{record.askTradeId,jdbcType=INTEGER},
      </if>
      <if test="record.bidTradeId != null" >
        bid_trade_id = #{record.bidTradeId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.marketPrice != null" >
        market_price = #{record.marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vt_u_knockdown_trade
    set ask_trade_id = #{record.askTradeId,jdbcType=INTEGER},
      bid_trade_id = #{record.bidTradeId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      market_price = #{record.marketPrice,jdbcType=DECIMAL},
      quantity = #{record.quantity,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ooteco.model.UserKnockdownTrade" >
    update vt_u_knockdown_trade
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=DECIMAL},
      </if>
    </set>
    where ask_trade_id = #{askTradeId,jdbcType=INTEGER}
      and bid_trade_id = #{bidTradeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ooteco.model.UserKnockdownTrade" >
    update vt_u_knockdown_trade
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=DECIMAL}
    where ask_trade_id = #{askTradeId,jdbcType=INTEGER}
      and bid_trade_id = #{bidTradeId,jdbcType=INTEGER}
  </update>
</mapper>