<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ooteco.mapper.AppFeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.ooteco.model.AppFeedback" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="callway" property="callway" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="inputtime" property="inputtime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, content, callway, ip, inputtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vt_app_feedback
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vt_app_feedback
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ooteco.model.AppFeedback" >
    insert into vt_app_feedback (id, content, callway, 
      ip, inputtime)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{callway,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{inputtime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ooteco.model.AppFeedback" >
    insert into vt_app_feedback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="callway != null" >
        callway,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="inputtime != null" >
        inputtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="callway != null" >
        #{callway,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="inputtime != null" >
        #{inputtime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ooteco.model.AppFeedback" >
    update vt_app_feedback
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="callway != null" >
        callway = #{callway,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="inputtime != null" >
        inputtime = #{inputtime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ooteco.model.AppFeedback" >
    update vt_app_feedback
    set content = #{content,jdbcType=VARCHAR},
      callway = #{callway,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      inputtime = #{inputtime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>