<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ooteco.mapper.ext.InfoCoinParamExtMapper" >
  <resultMap id="BaseResultMap" type="com.ooteco.model.InfoCoinParam" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="coinid" property="coinid" jdbcType="INTEGER" />
    <result column="param" property="param" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, coinid, param
  </sql>
  <select id="selectByCoinid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vt_info_coin_param
    where coinid = #{coinid,jdbcType=INTEGER}
  </select>
</mapper>